.food-item-container {
  margin: 20px 50px 0 50px !important;
}

.food-item {
  margin-top: 20px !important;
}

.dashboard-category-picker {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 20px;
}

.dashboard-search {
  margin-right: 30px !important;
}