.waste-app-body {
  .waste-app-register-container {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.25);
    opacity: 0.9;
  }
}