.my-food-add-button {
  margin-right: 50px !important;
}


.modal-header {
  text-align: center;
  font-size: 35px;
  font-family: Roboto;
  margin-bottom: 20px;
}

.add-food-category {
  width: 100%;
}

.friend-name {
  margin-top:10px !important;
}